.piano-vertical {
  position: relative;
  display: flex;
  height: 100%;
  max-height: 700px;
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.piano-vertical::-webkit-scrollbar {
  width: 8px;
}
.piano-vertical::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}
.piano-vertical::-webkit-scrollbar-track {
  background: transparent;
}

.white-keys-vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.white-key-vertical {
  width: 100%;
  height: 140px;
  background: white;
  border: 1px solid black;
  border-left: 8px solid #111;
  box-shadow: inset 0 -1px 0 #000;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
}

.concert-info {
  font-size: 0.85rem;
  text-align: left;
}

/* Teclas negras superpuestas */
.black-keys-vertical {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.black-key-vertical {
  position: absolute;
  width: 40px;
  height: 80px;
  background: black;
  border-radius: 4px;
  left: 0;
}
