.carousel-container {
  width: 100%;
  overflow: hidden;
  background: #f8f9fa;
  padding: 1rem 0;
}

.carousel-track {
  display: flex;
  animation: scroll 60s linear infinite;
  gap: 9rem;
  align-items: center;
  width: max-content;
}

.carousel-slide {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.taller-slide {
  height: 160px; /* 游댢 solo este tiene m치s altura */
}

.carousel-slide img {
  max-height: 100%;
  max-width: 150px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.carousel-slide a:hover img {
  transform: scale(1.1);
  filter: brightness(1.1);
  z-index: 1;
  cursor: pointer;
}

.vertical-logo {
  max-height: 80px;  /* un poco m치s peque침o */
  max-width: 60px;   /* estrecho para mantener proporci칩n */
  object-fit: contain;
  margin: 0 auto;
  padding: 0;
  transform: scale(0.85); /* reducci칩n visual extra */
}

/* Animaci칩n */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@media (max-width: 768px) {
  .carousel-track {
    gap: 2rem;
  }

  .carousel-slide {
    height: 100px;
  }

  .taller-slide {
    height: 130px;
  }

  .carousel-slide img {
    max-width: 100px;
  }

  .vertical-logo {
    max-width: 60px;
  }
}
