/* contact.css */

.contact-hero {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-top: 10vh; /* Empuja el contenido hacia abajo un 10% desde arriba */
  padding-left: 0;
  padding-right: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Cambiar para que el contenido empiece arriba */
  align-items: center;

  color: white;
  text-align: center;

  box-sizing: border-box;
}
/* Iconos */
.contact-icons a {
  font-size: 2.5rem;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  transform: scale(1.3);
  color: #ff0000;
}

/* Evitar scroll horizontal */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
